Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Blueprints/ThirdPersonCharacter.uasset
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
Content/ThirdPersonBP/Blueprints/ThirdPersonCharacter.uasset
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
